#lul {
    width: 75px;
    height: 50px;
}

#mycontainer {
    width: 1000px !important;
}

.containerf
{
    width: 327px;
    height: 47px;
    margin-top: -23px;
    margin-left: -163px;
    left: 50%;
    top: 50%;
    position: absolute;
}